{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About the website</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          This is a community question answer (CQA) website that was made as our submission 
          for Assignment 2 of the course CS3563: DBMS-II. You can ask questions, answer questions
          asked by others, search for posts by username or tag, edit or delete your own posts, 
          cast votes, change your username and icon and much more!
        </p>
        <p>
          The web application was made by
          <ul>
            <li>Gunjit Mittal</li>
            <li>Ankit Saha</li>
            <li>Rudransh Mishra</li>
            <li>Pranav Balasubramanian</li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}