{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Gunjit's Blog</h1>
            <span class="subheading">A collection of random musings.</span>
          </div>
        </div>
        <div class="col-lg-10 col-md-12 mx-auto search-form">
          <form class='form-inline' method='GET' style='display:block;width:100%'>
            <div class='form-group'>
              {{ form.newtag.label }} {{ form.newtag(class="form-control") }}
        </div>
          <div class='form-group' style="display: table-cell;width: 70%;">
            {{ form.autocomp.label }} {{ form.autocomp(class="form-control") }}
          </div>
          <div class='form-group' style="display: table-cell;width: 100%;"> 
            {{ form.sortby(class="form-control") }}
          </div>
          <div class="form-group" style="display: table-cell;width: auto;">
              {{ form.submit(class="btn btn-light"  ,style='border-radius:7px;padding-top: 10px;
              padding-bottom: 10px;') }}
          </div>
    </form>
        </div>
      </div>
      
    </div>
  </header>

  <!-- Main Content -->
  <div class="">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       <!--{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
        {% for post in all_posts.items %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
          <!--  <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3> -->
          </a>
          <p class="post-meta">Posted by
            <a href="{{url_for('profile', id=post.owner_user_id)}}">{{post.owner_display_name}}</a>
            on {{post.creation_date.date()}} tag:{{post.tags.replace('<','').replace('>',',')[:-1]}}
            {% if current_user.id==post.owner_user_id %}
              <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
            <div style="width:2%;margin-right: 1%;float: left;margin-top: -0.2%;display: inline-table;">
              <a href="{{url_for('scoreupdate',post_id=post.id,button=1)}}"><i class="fa-solid fa-caret-up" style="font-size:40px;color:rgb(0, 0, 0)"></i></a>
            </div><div style="width: 2%;float: left;display: inline-table;margin-right: 1%;">{{post.score}}</div>
               <div style="width: 2%;float: left;display: inline-table;margin-right: 1%;margin-top:-0.9%;"><a href="{{url_for('scoreupdate',post_id=post.id,button=0)}}"><i class="fa-solid fa-caret-down" style="font-size:40px;color:rgb(0, 0, 0)"></i></a></div>
          </p>
         
        </div>
        <hr>
        {% endfor %}

        {% if all_posts.has_prev %}<a href="{{ url_for('get_all_posts', page=all_posts.prev_num, autocomp=args['autocomp'], tag_autocomp=args['tag_autocomp'], sortby=args['sortby']) }}">&lt;&lt; Previous page</a>{% endif %} | 
        {% if all_posts.has_next %}<a href="{{ url_for('get_all_posts', page=all_posts.next_num, autocomp=args['autocomp'], tag_autocomp=args['tag_autocomp'], sortby=args['sortby']) }}">Next Page &gt;&gt;</a>{% endif %}
        <!-- New Post -->
        {% if current_user.is_authenticated %}
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
          </div>
        {% endif %}
      <script>
        $(function() {
          $("#autocomplete").autocomplete({
              minLength: 2,
              source:function(request, response) {
                  $.getJSON("{{url_for('autocomplete')}}",{
                      q: request.term,
                  }, function(data) {
                      response(data.matching_results); 
                  });
              },
              minLength: 1,
              select: function(event, ui) {
                  console.log(ui.item.value); 
              }
          });
      })
    </script>
      <script>
        var inputElm = document.querySelector('input[name=newtag]'),
        whitelist = {{all_tags|tojson}};
        var tagify = new Tagify(inputElm, {
            enforceWhitelist: true,
            whitelist: inputElm.value.trim().split(/\s*,\s*/),
            dropdown: {
              enabled: 1,
              maxItems: Infinity,
            }
        })
        tagify.on('add', onAddTag)
              .on('remove', onRemoveTag)
              .on('input', onInput)
              .on('edit', onTagEdit)
              .on('invalid', onInvalidTag)
              .on('click', onTagClick)
              .on('focus', onTagifyFocusBlur)
              .on('blur', onTagifyFocusBlur)
              .on('dropdown:hide dropdown:show', e => console.log(e.type))
              .on('dropdown:select', onDropdownSelect)

        var mockAjax = (function mockAjax(){
            var timeout;
            return function(duration){
                clearTimeout(timeout); // abort last request
                return new Promise(function(resolve, reject){
                    timeout = setTimeout(resolve, duration || 700, whitelist)
                })
            }
        })()
        function onAddTag(e){
            tagify.off('add', onAddTag)
        }
        function onRemoveTag(e){
        }
        function onInput(e){
            tagify.whitelist = null; // reset the whitelist
            mockAjax()
                .then(function(result){
                    tagify.settings.whitelist = result.concat(tagify.value) 
                    tagify
                        .loading(false)
                        .dropdown.show(e.detail.value);
                })
                .catch(err => tagify.dropdown.hide())
        }
        function onTagEdit(e){
        }
        function onInvalidTag(e){
        }
        function onTagClick(e){
        }

        function onTagifyFocusBlur(e){
        }

        function onDropdownSelect(e){

        }
      </script>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}