{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if is_edit: %}
            <h1>Edit Post</h1>
            {% else: %}
            <h1>New Post</h1>
            {% endif %}
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }}
        <!--{{ ckeditor.config(name='body') }}-->
        <!--{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
        <form >
          <div class='form-group'>
            {{ form.title.label }} {{ form.title(class="form-control") }}
          </div>
          <div class='form-group'>
            {{ form.newtag.label }} {{ form.newtag(class="form-control", value="") }}
          </div>
          <div class='form-group'> 
            {{ form.body(class="form-control") }}
          </div>
          <div class="form-group btn-primary" style='display:inline-block'>
              {{ form.submit(class="btn ") }}
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    var inputElm = document.querySelector('input[name=newtag]'),
    whitelist = {{all_tags|tojson}};
    inputElm.value = "{{post_tags}}"
    var tagify = new Tagify(inputElm, {
        enforceWhitelist: true,
        whitelist: inputElm.value.trim().split(/\s*,\s*/)
    })
    tagify.on('add', onAddTag)
          .on('remove', onRemoveTag)
          .on('input', onInput)
          .on('edit', onTagEdit)
          .on('invalid', onInvalidTag)
          .on('click', onTagClick)
          .on('focus', onTagifyFocusBlur)
          .on('blur', onTagifyFocusBlur)
          .on('dropdown:hide dropdown:show', e => console.log(e.type))
          .on('dropdown:select', onDropdownSelect)

    var mockAjax = (function mockAjax(){
        var timeout;
        return function(duration){
            clearTimeout(timeout); // abort last request
            return new Promise(function(resolve, reject){
                timeout = setTimeout(resolve, duration || 700, whitelist)
            })
        }
    })()
    function onAddTag(e){
        tagify.off('add', onAddTag)
    }
    function onRemoveTag(e){
    }
    function onInput(e){
        tagify.whitelist = null; // reset the whitelist
        mockAjax()
            .then(function(result){
                tagify.settings.whitelist = result.concat(tagify.value) 
                tagify
                    .loading(false)
                    .dropdown.show(e.detail.value);
            })
            .catch(err => tagify.dropdown.hide())
    }
    function onTagEdit(e){
    }
    function onInvalidTag(e){
    }
    function onTagClick(e){
    }

    function onTagifyFocusBlur(e){
    }

    function onDropdownSelect(e){

    }
  </script>
{% include "footer.html" %}