{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <span class="meta">Posted by
              <a href="{{url_for('profile', id=post.owner_user_id)}}">{{post.owner_display_name}}</a>
              on {{post.creation_date}} tag:{{post.tags.replace('<','').replace('>',',')[:-1]}}{% if current_user.id==post.owner_user_id %}
              <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}</span> 
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.body|safe }}
          <hr>
            {% if current_user.id==post.owner_user_id %}
              <div class="clearfix">
                <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
              </div>
            {% endif %}
          {{ ckeditor.load() }}
          {{ wtf.quick_form(comment_form, novalidate=True, button_map={"submit": "primary"}) }}


<!-- Comments Area -->
          <div class="col-lg-8 col-md-10 mx-auto comment">
            {% for comment in comments %}
              <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      {% if comment.user.profile_image_url is not none and comment.user_id is not none %}
                      <img src={{comment.user.profile_image_url}} >
                      {%else%}
                     <img src="{{ comment.user_id |string| gravatar(size=200, rating='x') }}" >
                     {%endif%}
                    </div>
                    <div class="commentText">
                      <p>{{ comment.text | safe }}</p>
                      <a href="{{url_for('profile', id=comment.user_id)}}"><span class="date sub-text" >{{ comment.user_display_name }}</span></a>
                    </div>
                </li>
              </ul>
            {% endfor %}

      </div>
    </div>
  </article>
  <div class="col-lg-8 col-md-10 mx-auto">
    {{ ckeditor.load() }}
    {{ wtf.quick_form(answer_form, novalidate=True, button_map={"submit": "primary"}) }}
  </div>
  {% for answer in answer_posts %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <hr><hr><hr>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto" style="background:rgb(237, 232, 232);">
            {{ answer.body|safe }}
            <div class="col-lg-8 col-md-10 mx-auto">
              {{ ckeditor.load() }}
              {{ wtf.quick_form(answer_comment_forms[loop.index0], novalidate=True, button_map={"submit": "primary"}) }}
            </div>
            <div class="col-lg-8 col-md-10 mx-auto comment">
              {% for comment in answer_comments[answer.id] %}
                <ul class="commentList">
                  <li>
                      <div class="commenterImage">
                        {% if comment.user.profile_image_url is not none and comment.user_id is not none %}
                        <img src={{comment.user.profile_image_url}} >
                        {%else%}
                       <img src="{{ comment.user_id |string| gravatar(size=200, rating='x') }}" >
                       {%endif%}
                      </div>
                      <div class="commentText">
                        <p>{{ comment.text | safe }}</p>
                        <a href="{{url_for('profile', id=comment.user_id)}}"><span class="date sub-text">{{ comment.user_display_name }}</span></a>
                      </div>
                  </li>
                </ul>
              {% endfor %}
        </div>
      </div>
    </div>
  </article>
  {% endfor %}
  <hr>
{% include "footer.html" %}