{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Gunjit's Blog</h1>
            <span class="subheading">A collection of random musings.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts.items %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
          <!--  <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3> -->
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.owner_display_name}}</a>
            on {{post.creation_date.date()}} {% if tag %}tag:{{post.tags.replace('<','').replace('>',',')[:-1]}} {% endif %}
            {% if current_user.id==post.owner_user_id %}
              <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endfor %}

        {% if all_posts.has_prev %}<a href="{{ url_for('profile', page=all_posts.prev_num) }}">&lt;&lt; Previous page</a>{% endif %} | 
        {% if all_posts.has_next %}<a href="{{ url_for('profile', page=all_posts.next_num) }}">Next Page &gt;&gt;</a>{% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}